* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Comme', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #310b2c;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px; 
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* Estilo 4/5 */
header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Estilo 6 */
.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

.products-list img {
    height: 64px;
}

.products-list li {
    display: block;
    margin-right: 8px;
}

/* Estilo 7 */
section .container {
    align-items: flex-start;
}

/* Estilo 8 */
section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #310b2c;
}

section p {
    margin-bottom: 8px;
}

section h3 {
    margin-bottom: 16px;
}

.store-front {
    margin: 0 auto;
    height: 350px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color:#310b2c;
    color:#ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #dd48c9d3;
}

input:focus, textarea:focus {
    outline-color: #0f010d;
}

.social-links img {
    height: 24px;
}

footer {
    background-color: #310b2c;
    color: #ecf0f1;
    padding: 16px 0;
}